<div class="container" >

  <div class="row">
    <div class="jumbotron" style="background: white; border-radius:20px;">
      <% if flash.has?(:message) %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><%= flash[:message] %> </p>
        </div>
      <% end %>
      <table class="table table-hover table-striped" >
        <tr class="info">
          <th style="text-align:center;"><h3>Device Name</h3></th>
          <th style="text-align:center;"><h3>Type</h3></th>
          <th style="text-align:center;"><h3>Description</h3></th>
          <th style="text-align:center;"><h3>Edit Device</h3></th>
          <th style="text-align:center;"><h3>Add New Component</h3></th>
        </tr>
          <tr style="text-align:center;">
            <td><%=@device.name%></td>
            <td><a href="/types/<%=@device.type.id%>"><%=@device.type.name%></a></td>
            <td><%=@device.description%></td>
            <td><a href="/devices/<%=@device.id%>/edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="/components/new"><span class="fa fa-plus-square"></span></a></td>
          </tr>
      </table>
    </div> <!-- end jumbotron -->
  </div> <!-- end row -->

  <div class="row">
    <div class="jumbotron" style="background: white; border-radius:20px;">
      <table class="table table-hover table-striped" >
      <tr class="info">
        <th style="text-align:center;"><h3>Component Name</h3></th>
        <th style="text-align:center;"><h3>Category</h3></th>
        <th style="text-align:center;"><h3>Description</h3></th>
        <th style="text-align:center;"><h3>Edit Component</h3></th>
      </tr>
        <% @device.components.each do |component| %>
          <tr style="text-align:center;">
            <td><a href="/components/<%=component.id%>"><%=component.name%></a></td>
            <td><a href="/categories/<%=component.category.id%>"><%=component.category.name%></a></td>
            <td><%=component.description%></td>
            <td><a href="/components/<%=component.id%>/edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
          </tr>
        <% end %>
      </table>
    </div><!-- end well -->
  </div><!-- end row -->

  <div class="row">
    <form action="/devices/<%=@device.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete This Device</button>
    </form>
  </div> <!-- end row -->

</div><!-- end container -->
