<div class="container" >
  <div class="row">
    <div class="jumbotron" style="background: white; border-radius:20px;">
      <% if flash.has?(:message) %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><%= flash[:message] %> </p>
        </div>
      <% end %>
      <table class="table table-hover table-striped" >
        <tr class="info">
          <th style="text-align:center;"><h3>Device Type Name</h3></th>
          <th style="text-align:center;"><h3>Edit Device Type</h3></th>
          <th style="text-align:center;"><h3>Delete Device Type</h3></th>
        </tr>
        <% current_user.types.each do |type| %>
          <tr style="text-align:center;">
            <td><a href="/types/<%=type.id%>"><%=type.name%></a></td>
            <td><a href="/types/<%=type.id%>/edit"><button class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
            <td><form class="" action="/types/<%=type.id%>/delete" method="post">
                  <input type="hidden" id="hidden" name="_method" value="delete">
                  <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                </form>
            </td>
          </tr>
        <% end %>
      </table>
    </div><!-- end well -->
  </div><!-- end row -->
</div><!-- end container -->
